#logOutBtn{
    background-color: #8ec63f;;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
    font-family: 'Roboto Condensed'
    
}

#logOutBtn:hover{
    background-color: antiquewhite
}

#confirmText{
    font-family: 'Roboto Condensed';
    
    font-weight: 700;
}