.signup {
    text-align: center;
    background: #fff;
    border-radius: 2px;
    border-width: 2px;
    border: 2px;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 10px;
}