/* Styles for Footer */
.dev-name{
  color:white;
};
 div{
     width:100% !important;
 }
 /*@media screen and (min-width: 601px) {
     .dev-name {
       display: none;
     }
 }*/

.dev-danger{
  color: orange
}

 @media screen and (max-width: 600px) {
    #footer {
      display: block;

    }
}


